.header {
  box-sizing: border-box;
  align-items: center;
  display: grid;
  border-bottom: 1px solid var(--c-border);
  border-right: 1px solid var(--c-border);
  height: 54px;
  position: sticky;
  justify-self: flex-end;
  top: 0;
  z-index: 4;
  background-color: var(--c-primary);

  @media (--m) {
  grid-template-columns: 80px auto 80px;

  }
    @media (--t) {
    grid-template-columns: auto 80px;

  }
   grid-template-columns: 0 auto 80px;
  color: var(--c-text-color);

}

.headertext {
  position: relative;
  display: block;
  padding-left: 15px;
  font-weight: bold;
  color: var(--c-yellow);
  text-align: center;
  @media (--t) {

  text-align: left; }
  @media (--d) {

  text-align: left;
    color: var(--c-text-color);
  }
}

.modselect {
  display: block;
  place-self: center;
}

.profile {
  place-self: center;
   display: block;
  visibility: visible;
  width: 36px;
    @media (--t) {
    display: none;
    visibility: hidden;

  }
}
.buton {
  font-size: 0;
  svg {
    background-color: transparent;
    font-size: 30px;
  }
}
