.comments {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.utterances {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

@media only screen and (min-width: 1281px) {
  .utterances {
    width: 100%;
    position: relative;
  }
}
