.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary-40);
  z-index: 999;
  backdrop-filter: saturate(150%) blur(10px);
}

.overlay {
  -webkit-animation: in var(--fade) ease-in-out 0s;
  animation: in var(--fade) ease-in-out 0s;
}
.mod {
  display: grid;
  grid-template-rows: 20px 80px 1fr 100px;
  align-items: stretch;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  border: 1px solid var(--c-yellow);
  background-color: var(--c-primary);
  border-radius: 20px;
  margin: 20px;
  h2 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: auto;
    color: var(--c-yellow);
  }
  h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;

    margin-bottom: auto;
    padding-bottom: 60px;
  }

  transition: var(--fade);

  -webkit-box-shadow: 0 0 50px 10px var(--c-yellow);
  -moz-box-shadow: 0 0 50px 10px var(--c-primary);
  box-shadow: 0 20px 80px -40px var(--c-yellow);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  width: 100%;
  margin: 0 auto;
  svg {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    color: var(--c-text-color);
    opacity: 0;
    transition: var(--fade);
  }
  .button {
    svg {
      pointer-events: none;
    }
  }
  .button:hover {
    box-shadow: 0 0 15px 3pt var(--c-yellow);
    transition: var(--fade);
    svg {
      visibility: visible;
      color: rgb(77, 182, 173);
      opacity: 1;
      pointer-events: none;
    }
  }
}

.button:focus-visible {
  box-shadow: 0 0 15px 5pt var(--c-yellow);
}
.button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  outline-style: none;
  cursor: pointer;
  color: black;
  margin-right: auto;
  margin-left: auto;
  min-width: 40px;
  max-width: 65px;
  width: 100%;
  height: auto;
  min-height: 40px;
  max-height: 65px;
  border-radius: 99px;
  &:hover {
    color: var(--c-primary);
    background-color: var(--c-yellow);
  }
}
.kapat {
  display: grid;
  grid-row-end: auto;
  margin: -15px -15px auto auto;
  font-size: 30px;
  color: var(--c-yellow);
}
.kapat:hover {
  svg {
    border-radius: 99px;
    color: var(--c-primary);
    background-color: rgb(220, 63, 22);
  }
}
.container [id='Light'] {
  background-color: white;
}
.container [id='Dark'] {
  background-color: black;
}
.container [id='Sepia'] {
  background-color: #f5dd9f;
}
.container [id='Dim'] {
  background-color: rgb(21, 41, 39);
}

:global(.light):root {
  .container [id='Light'] {
    border: 3px solid var(--c-yellow);
    svg:nth-child(1) {
      visibility: visible;
      opacity: 1;
      color: var(--c-yellow);
      border: transparent;
    }
  }
}
:global(.dark):root {
  .container [id='Dark'] {
    border: 3px solid var(--c-yellow);
    svg:nth-child(1) {
      visibility: visible;
      opacity: 1;
      color: var(--c-yellow);
      border: transparent;
    }
  }
}
:global(.sepia):root {
  .container [id='Sepia'] {
    border: 3px solid var(--c-yellow);
    svg:nth-child(1) {
      visibility: visible;
      opacity: 1;
      color: var(--c-yellow);
      border: transparent;
    }
  }
}
:global(.dim):root {
  .container [id='Dim'] {
    border: 3px solid var(--c-yellow);
    svg:nth-child(1) {
      visibility: visible;
      opacity: 1;
      color: var(--c-yellow);
      border: transparent;
    }
  }
}

@-webkit-keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.wrapper h3.glitch {
  position: relative;
}
.wrapper h3.glitch::before,
.wrapper h3.glitch::after {
  content: '"Hacker"';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  top: 0;
}
.wrapper h3.glitch::before {
  left: 3px;
  text-shadow: -2px 0 #80fff6;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
.wrapper h3.glitch::after {
  left: -3px;
  text-shadow: -2px 0 #ff8089;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(81px, 350px, 60px, 30px);
  }
  5% {
    clip: rect(71px, 350px, 62px, 30px);
  }
  10% {
    clip: rect(28px, 350px, 103px, 30px);
  }
  15% {
    clip: rect(99px, 350px, 85px, 30px);
  }
  20% {
    clip: rect(107px, 350px, 121px, 30px);
  }
  25% {
    clip: rect(100px, 350px, 97px, 30px);
  }
  30% {
    clip: rect(141px, 350px, 146px, 30px);
  }
  35% {
    clip: rect(128px, 350px, 70px, 30px);
  }
  40% {
    clip: rect(119px, 350px, 141px, 30px);
  }
  45% {
    clip: rect(108px, 350px, 39px, 30px);
  }
  50% {
    clip: rect(89px, 350px, 56px, 30px);
  }
  55% {
    clip: rect(5px, 350px, 68px, 30px);
  }
  60% {
    clip: rect(66px, 350px, 26px, 30px);
  }
  65% {
    clip: rect(33px, 350px, 131px, 30px);
  }
  70% {
    clip: rect(7px, 350px, 39px, 30px);
  }
  75% {
    clip: rect(31px, 350px, 49px, 30px);
  }
  80% {
    clip: rect(110px, 350px, 118px, 30px);
  }
  85% {
    clip: rect(82px, 350px, 110px, 30px);
  }
  90% {
    clip: rect(140px, 350px, 125px, 30px);
  }
  95% {
    clip: rect(64px, 350px, 11px, 30px);
  }
  100% {
    clip: rect(150px, 350px, 125px, 30px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(62px, 350px, 8px, 30px);
  }
  5% {
    clip: rect(125px, 350px, 55px, 30px);
  }
  10% {
    clip: rect(2px, 350px, 134px, 30px);
  }
  15% {
    clip: rect(121px, 350px, 74px, 30px);
  }
  20% {
    clip: rect(40px, 350px, 113px, 30px);
  }
  25% {
    clip: rect(82px, 350px, 105px, 30px);
  }
  30% {
    clip: rect(67px, 350px, 66px, 30px);
  }
  35% {
    clip: rect(95px, 350px, 76px, 30px);
  }
  40% {
    clip: rect(114px, 350px, 135px, 30px);
  }
  45% {
    clip: rect(29px, 350px, 121px, 30px);
  }
  50% {
    clip: rect(87px, 350px, 118px, 30px);
  }
  55% {
    clip: rect(100px, 350px, 11px, 30px);
  }
  60% {
    clip: rect(79px, 350px, 70px, 30px);
  }
  65% {
    clip: rect(51px, 350px, 38px, 30px);
  }
  70% {
    clip: rect(78px, 350px, 9px, 30px);
  }
  75% {
    clip: rect(119px, 350px, 128px, 30px);
  }
  80% {
    clip: rect(113px, 350px, 37px, 30px);
  }
  85% {
    clip: rect(69px, 350px, 142px, 30px);
  }
  90% {
    clip: rect(23px, 350px, 94px, 30px);
  }
  95% {
    clip: rect(55px, 350px, 4px, 30px);
  }
  100% {
    clip: rect(2px, 350px, 113px, 30px);
  }
}
