.button {
  cursor: pointer;
  background: transparent;
  color: var(--c-text-color);
  border-radius: 99px;
  display: flex;
  align-items: center;
  transition: var(--fade);
  text-decoration: none;

  &:hover {
    color: var(--c-yellow);
    background-color: var(--c-yellow-10);
  }
}
