.icon {
  position: fixed;
    align-items: center;
  bottom: 0;
  right: 10%;
  width: 2vw;
  height: 2vw;
  min-width: 48px;
  min-height: 48px;
  border-radius: 100%;
  margin-bottom: 50px;
  background: var(--c-yellow-10);
  z-index: 1;
  cursor: pointer;
  color: var(--c-primary);
  margin-top: 10px;
  margin-right: 10px;
  backdrop-filter: blur(6px);

  animation: scrollTop 0.5s alternate ease infinite;
  @media (--m) {
    right: 80%;
  }
  @media (--t) {
    right: 80%;
  }
  @media (--d) {
    right: 10%;
  }

  &:hover {
    background: linear-gradient(245deg, var(--c-yellow), var(--c-yellow-20));
border-radius: 100%;
box-shadow: -1px 1px 30px var(--c-yellow-20), 1px -1px 30px var(--c-yellow-20);
    color: var(--c-primary);
    -webkit-box-shadow: -1px 1px 30px var(--c-yellow-20), 1px -1px 30px var(--c-yellow-20);
    -moz-box-shadow: -1px 1px 30px var(--c-yellow-20), 1px -1px 30px var(--c-yellow-20);
  }
  svg {
    margin-right: auto;
    margin-left: auto;
    font-size: 24px
  }
}

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }


}

