@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-screen-lg;
}

.post-container {
  @apply max-w-3xl mx-auto w-full mb-20;
  @media (--t) {
    @apply max-w-3xl mx-auto w-full px-4 mb-12;
  }
  @media (--d) {
    @apply max-w-4xl mx-auto w-full px-4;
  }
}

.achievement-notion .notion-link,
.achievement-notion .notion-text {
  @apply break-normal;
}

.notion-asset-wrapper-pdf,
.notion-asset-wrapper img,
.notion-asset-wrapper iframe {
  @apply overflow-hidden rounded-medium;
}
.aspect-16x9 {
  padding-bottom: 56.25%;
}

@variants group-hover, hover, focus, responsive {
  .color-primary {
    color: var(--c-yellow);
  }

  .box-shadow {
    box-shadow: 0 0 15px 5pt var(--c-yellow);
  }
  .box-shadow:focus-visible {
    box-shadow: 0 0 15px 5pt var(--c-yellow);
  }
  .bg-color-gradient {
    background-color: var(--c-gradient);
  }
  .bg-color-primary {
    background-color: var(--c-primary);
  }
  .bg-color-secondary {
    background-color: var(--c-yellow);
  }
  .bg-color-secondary-40 {
    background-color: var(--c-yellow-40);
  }

  .bg-color-secondary-60 {
    background-color: var(--c-yellow-60);
  }

  .border-color-primary {
    border: 2px solid var(--c-primary);
  }
  .border-color-secondary {
    border: 2px solid var(--c-yellow);
  }
  .color-secondary {
    color: var(--c-primary);
  }
  .color-primary-40 {
    color: var(--c-yellow-40);
  }
  .color-primary-60 {
    color: var(--c-yellow-60);
  }
  .color-primary-80 {
    color: var(--c-yellow-80);
  }
  .underlined{
      text-decoration: underline;
      text-decoration-color:var(--c-yellow-80);
  }
}
