.box {
  display: grid;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}
.tabletImage{
  flex-shrink: 0;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  max-width: 46px;
  border-radius: 99px;
  @media (--d) {
    flex-shrink: 0;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 120px;
    border-radius: 999px;
  }
    @media (--m) {
    display: grid;
  }
  @media (--d) {
    display: none;
  }

}
.desktopImage{
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  max-width: 46px;
  border-radius: 99px;
  @media (--d) {
    flex-shrink: 0;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 120px;
    border-radius: 999px;
  }
    display: none;
  @media (--d) {
    display: grid;
  }
}
.title {
  display: none;
}
.hiddentitle {
  display: none;
}
.button {
  cursor: pointer;
  flex-shrink: 0;
  display: grid;
  border-radius: 999px;
  transition: all ease-in-out var(--fade);
  @media (--d) {
    .title {
      display: inline-block;
      position: absolute;
      padding: 144px 20px 0;
      font-size: 32px;
      line-height: 32px;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      background: var(--c-text-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
    }
    &:focus-visible,
    &:hover {
      .title {
        background: var(--c-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
.button {
  .hiddentitle {
    font-size: 0;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    display: flex;
    left: 0;
    color: var(--c-primary);
    border-radius: 999px;
    background: var(--c-yellow-60);
    padding: 12px;
  }
  &:focus-visible,
  &:hover {
    .hiddentitle {
      visibility: visible;
      opacity: 100%;
      font-size: 16px;
      position: fixed;
      backdrop-filter: blur(8px);
      transition: all var(--fade);
      @media (--m) {
        display: none;
      }
      @media (--t) {
        top: auto;
        display: block;
        position: fixed;
        margin-left: 8%;
      }
      @media (--d) {
        display: none;
      }
    }
  }
  &:visited{
    .hiddentitle {
      display: none;
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary-40);
  z-index: 2;
  backdrop-filter: saturate(150%) blur(10px);
}

.overlay {
  -webkit-animation: in var(--fade) ease-in-out 0s;
  animation: in var(--fade) ease-in-out 0s;
}

.kapat {
  display: flex;
  margin-left: auto;
  margin-right: 25px;
  margin-bottom: 15px;
  font-size: 0;
  svg {
    color: var(--c-primary);
    border-radius: 99px;
    background-color: var(--c-yellow);
    font-size: 30px;
  }
}
.kapat:focus-visible,
.kapat:hover {
  svg {
    color: var(--c-primary);
    background-color: rgb(220, 63, 22);
  }
}
@-webkit-keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
