@import 'variables.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: transparent;
}
em {
  font-style: italic;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 1rem;
  font-family: var(--font-sansserif);
  background-color: var(--c-primary);
  color: var(--c-text-color);
}
body::-webkit-scrollbar {
  width: 8px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--c-yellow) var(--c-yellow-10);
}
body::-webkit-scrollbar-track {
  background: var(--c-yellow-10);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--c-yellow);
  border-radius: 6px;
  border: 3px solid var(--c-yellow-10);
}

button:active,
button:focus {
  outline: none;
}
button:focus-visible {
  box-shadow: 0 0 15px 5pt var(--c-yellow);
}
input {
  background-color: transparent;
}
input:active,
input:focus {
  outline: none;
}
input:focus-visible {
  box-shadow: 0 0 0 3pt var(--c-yellow);
}
input[type='text']:focus-visible {
  box-shadow: none;
  text-decoration: underline;
  text-decoration-color: var(--c-yellow);
}
input::placeholder {
  color: var(--c-yellow-60);
}

a:active,
a:focus {
  outline: none;
}
a:focus-visible {
  box-shadow: 0 0 0 2pt var(--c-yellow);
}

::-moz-selection {
  color: var(--c-primary);
  background: var(--c-yellow-60);
}

::selection {
  color: var(--c-primary);
  background: var(--c-yellow);
}
.shadow {
  -webkit-box-shadow: 0 0 50px 10px var(--c-yellow);
  -moz-box-shadow: 0 0 50px 10px var(--c-primary);
  box-shadow: 0 20px 80px -40px var(--c-yellow);
}
.button-primary {
  cursor: pointer;
  background: var(--c-yellow-light);
  color: var(--c-primary);
  border-radius: 99px;
  align-items: center;
  transition: var(--fade);
  text-decoration: none;
  font-weight: bold;
  &:focus-visible {
    background: var(--c-yellow);
    box-shadow: 0 0 0 3px var(--c-yellow-lighter);
  }
  &:hover {
    background: var(--c-yellow);
    transition: var(--fade);
  }
}

.border-primary {
  border: 1px solid var(--c-yellow);
}
.border-primary-2 {
  border: 2px solid var(--c-yellow);
}

.border-secondary {
  border: 1px solid var(--c-primary);
}

.text-color-primary {
  p {
    color: var(--c-text-color);
    font-family: var(--font);
  }
  span {
    color: var(--c-text-color);
  }
}

.bg-box-primary {
  background-color: var(--c-primary);
  box-shadow: 0 1px 1px var(--c-yellow-10), 0 2px 2px var(--c-shadow-10),
    0 4px 4px var(--c-yellow-10), 0 6px 8px var(--c-shadow-10),
    0 8px 16px var(--c-yellow-10);
}
.accordion {
  position: relative;
  cursor: pointer;
  text-decoration: underline var(--c-yellow-80);
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 1.5em;
  border: 1px solid var(--c-border);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    background-color: var(--c-yellow-10);
    &:after {
      transition: var(--fade);
      color: var(--c-yellow);
    }
  }
}

.accordion-open {
  position: relative;
  cursor: pointer;
  text-decoration: underline var(--c-yellow-80);
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 1.5em;
  transition: var(--fade);
  border: 1px solid var(--c-border);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    background-color: var(--c-yellow-10);
    &:after {
      transition: var(--fade);
      color: var(--c-yellow);
    }
  }
}

.accordion:after {
  content: 'Göster';
  color: var(--c-yellow-60);
  &:hover {
    color: var(--c-yellow);
  }
  font-weight: lighter;
  float: right;
  font-size: 18px;
}

.accordion-open:after {
  content: 'Gizle';
  color: var(--c-yellow-60);
  &:hover {
    color: var(--c-yellow);
  }
  font-weight: lighter;
  font-size: 18px;
  float: right;
}
.panel {
  padding: 0 18px;
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: all ease-in-out var(--fade);
}
.panel-active {
  transition: all ease-in-out var(--fade);
  visibility: visible;
  overflow: hidden;
  padding: 0 18px;
  max-height: max-content;
  border: solid var(--c-border);
  border-width: 0 1px 1px 1px;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.static-tweet {
  --colors-blue: #0c00ff;
  --colors-purple: #be00ff;

  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999999;
  --accents-4: #888888;
  --accents-5: #666666;

  --bg-color: #fff;
  --link-color: var(--colors-blue);
  --poll-bar-color: var(--colors-blue);
  --inline-code-color: var(--colors-purple);
  --code-color: #9efeff;
  --code-bg-color: #1e1e3f;

  --text-margin: 1.25rem 0;
  --container-margin: 0.5rem 0;
  --poll-margin: 1.5rem 1rem;
  --heading-margin-top: 3.5rem;
  --heading-margin-bottom: 2rem;
  --li-margin: 0 0 0.5rem 0;

  /* Embedded tweet */
  --tweet-font: normal normal 16px/1.4 Helvetica, Roboto, 'Segoe UI', Calibri,
    sans-serif;
  --tweet-font-color: #1c2022;
  --tweet-bg-color: #fff;
  --tweet-border: 1px solid #e1e8ed;
  --tweet-border-hover: 1px solid #ccd6dd;
  --tweet-link-color: #2b7bb9;
  --tweet-link-color-hover: #3b94d9;
  --tweet-color-gray: #697882;
  --tweet-color-red: #e02460;
}

.static-tweet {
  width: 100%;
  max-width: 550px;
  min-width: 220px;
}

.static-tweet-caption {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin: 10px 0 0;
  padding: 0;
}

.static-tweet-anchor {
  color: var(--tweet-link-color);
  text-decoration: none;
}

@media (any-hover: hover) {
  .static-tweet-anchor:hover {
    text-decoration: underline;
  }
}

.static-tweet code {
  font-size: 14px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.static-tweet code.inline {
  color: var(--inline-code-color);
  font-size: 1rem;
  white-space: pre-wrap;
}

.static-tweet pre {
  color: var(--code-color);
  background: var(--code-bg-color);
  padding: 1.25rem;
  margin: var(--container-margin);
  white-space: pre;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.static-tweet .image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  margin: var(--container-margin);
}
.static-tweet .image-count-3 > :global(:first-child) {
  grid-row-end: span 2;
}
.static-tweet .gif-container,
.static-tweet .video-container {
  margin: var(--container-margin);
}
.static-tweet .gif-container > :global(video),
.static-tweet .video-container > :global(video) {
  width: 100%;
  max-height: 500px;
}

.static-tweet-permalink span[id] {
  display: block;
  position: absolute;
  visibility: hidden;
  margin-top: calc(-1 * var(--heading-margin-top));
  padding-top: var(--heading-margin-top);
}

.static-tweet-permalink a {
  color: inherit;
  text-decoration: none;
}
@media (any-hover: hover) {
  .static-tweet-permalink a:hover {
    color: inherit;
    border-bottom: 1px solid;
  }
  .static-tweet-permalink a:hover ~ .permalink {
    visibility: visible;
  }
}
.static-tweet-permalink .permalink {
  visibility: hidden;
  display: none;
  font-weight: 500;
}
@media screen and (--t) {
  .static-tweet-permalink a {
    margin-right: 0.5rem;
  }
  .static-tweet-permalink .permalink {
    display: inline-block;
  }
}

.static-tweet-h1,
.static-tweet-h2,
.static-tweet-h3,
.static-tweet-h4,
.static-tweet-h5,
.static-tweet-h6 {
  font-weight: 600;
  margin: var(--heading-margin-top) 0 var(--heading-margin-bottom) 0;
}

.static-tweet-h1 {
  font-size: 2rem;
}

.static-tweet-h2 {
  font-size: 1.75rem;
}

.static-tweet-h3 {
  font-size: 1.5rem;
}

.static-tweet-h4 {
  font-size: 1.25rem;
}

.static-tweet-h5 {
  font-size: 1rem;
}

.static-tweet-h6 {
  font-size: 0.875rem;
}
.static-tweet p {
  margin-top: 8px;
  margin-bottom: 3px;
}
.static-tweet ul {
  margin: var(--text-margin);
  list-style-type: none;
  padding-left: 1rem;
}

.static-tweet ul li:before {
  content: '-';
  color: var(--accents-3);
  position: absolute;
  margin-left: -1rem;
}

.static-tweet ol {
  margin: var(--text-margin);
  padding-left: 1rem;
}

.static-tweet li {
  padding-left: 0;
  margin: var(--li-margin);
}

.static-tweet-summary {
  position: relative;
  box-sizing: border-box;
}

.static-tweet-details {
  height: 100%;
  overflow: hidden;
}

.static-tweet-summary {
  position: relative;
  height: 100%;
  list-style: none;
}

.static-tweet-table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: var(--container-margin);
}

.static-tweet-table-container table {
  display: block;
  overflow: auto;
  border-collapse: collapse;
}

.static-tweet-table-container th {
  font-weight: 600;
  padding: 0.5rem 0.875rem;
  border: 1px solid var(--accents-2);
}

.static-tweet-table-container td {
  padding: 0.5rem 0.875rem;
  border: 1px solid var(--accents-2);
}

.static-tweet-p {
  margin: var(--text-margin);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-blockquote {
  background: var(--accents-1);
  color: var(--accents-5);
  border: 1px solid var(--accents-2);
  margin: var(--container-margin);
  padding: 0 1.25rem;
}

.static-tweet-hr {
  border: 0;
  border-top: 1px solid var(--accents-2);
  margin: var(--text-margin);
}

.static-tweet-twitter-link,
.static-tweet-twitter-link s {
  text-decoration: none;
}

@media (any-hover: hover) {
  .static-tweet-twitter-link:hover {
    text-decoration: underline;
  }
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
  margin: 0 2px;
  vertical-align: -3px;
}

.static-tweet-poll {
  margin: var(--poll-margin);
}
.static-tweet-options {
  display: grid;
  grid-template-columns: max-content 14rem max-content;
  align-items: center;
  grid-gap: 1rem;
  overflow: auto;
}
.static-tweet-label {
  overflow: auto;
  text-align: right;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.static-tweet-chart {
  height: 100%;
  background: var(--poll-bar-color);
}
.static-tweet-poll hr {
  border: 0;
  border-top: 1px solid var(--accents-2);
  margin: 1rem 0 0.5rem 0;
}
.static-tweet-footer {
  display: flex;
  font-size: 0.875rem;
  color: var(--accents-4);
}
.static-tweet-votes-count {
  flex-grow: 1;
}
@media screen and (max-width: 450px) {
  .static-tweet-options {
    grid-template-columns: max-content 7rem max-content;
  }
}

.static-tweet-info a {
  text-decoration: none;
}
.static-tweet-info {
  font-size: 0.875rem;
  display: flex;
}
.static-tweet-like {
  display: flex;
  color: var(--tweet-color-gray);
  margin-right: 0.75rem;
}
.static-tweet-like:visited {
  color: var(--tweet-link-color);
}
@media (any-hover: hover) {
  .static-tweet-like:hover {
    color: var(--tweet-color-red);
  }
  .static-tweet-like:hover .static-tweet-icon-heart {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23E0245E%22%20d%3D%22M12%2021.638h-.014C9.403%2021.59%201.95%2014.856%201.95%208.478c0-3.064%202.525-5.754%205.403-5.754%202.29%200%203.83%201.58%204.646%202.73.813-1.148%202.353-2.73%204.644-2.73%202.88%200%205.404%202.69%205.404%205.755%200%206.375-7.454%2013.11-10.037%2013.156H12zM7.354%204.225c-2.08%200-3.903%201.988-3.903%204.255%200%205.74%207.035%2011.596%208.55%2011.658%201.52-.062%208.55-5.917%208.55-11.658%200-2.267-1.822-4.255-3.902-4.255-2.528%200-3.94%202.936-3.952%202.965-.23.562-1.156.562-1.387%200-.015-.03-1.426-2.965-3.955-2.965z%22%2F%3E%3C%2Fsvg%3E);
  }
}
.static-tweet-icon-heart {
  width: 1.25em;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23697882%22%20d%3D%22M12%2021.638h-.014C9.403%2021.59%201.95%2014.856%201.95%208.478c0-3.064%202.525-5.754%205.403-5.754%202.29%200%203.83%201.58%204.646%202.73.813-1.148%202.353-2.73%204.644-2.73%202.88%200%205.404%202.69%205.404%205.755%200%206.375-7.454%2013.11-10.037%2013.156H12zM7.354%204.225c-2.08%200-3.903%201.988-3.903%204.255%200%205.74%207.035%2011.596%208.55%2011.658%201.52-.062%208.55-5.917%208.55-11.658%200-2.267-1.822-4.255-3.902-4.255-2.528%200-3.94%202.936-3.952%202.965-.23.562-1.156.562-1.387%200-.015-.03-1.426-2.965-3.955-2.965z%22%2F%3E%3C%2Fsvg%3E);
}
.static-tweet-likes {
  margin-left: 0.25rem;
}
.static-tweet-time {
  display: block;
  flex: 1;
  color: var(--tweet-color-gray);
}
@media (any-hover: hover) {
  .static-tweet-time:hover,
  .static-tweet-time:focus {
    color: var(--tweet-link-color-hover);
  }
  .static-tweet-time:focus {
    text-decoration: underline;
  }
}

.static-tweet-body {
  color: var(--tweet-font-color);
  font: var(--tweet-font);
  overflow: hidden;
  background: var(--tweet-bg-color);
  border: var(--tweet-border);
  border-radius: 5px;
}

@media (any-hover: hover) {
  .static-tweet-body:hover {
    border: var(--tweet-border-hover);
  }
}

.static-tweet-body-blockquote {
  position: relative;
  padding: 1.25rem 1.25rem 0.625rem 1.25rem;
}

.static-tweet-icon {
  display: inline-block;
  height: 1.25em;
  vertical-align: text-bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.static-tweet-header {
  display: flex;
}
.static-tweet-header-avatar {
  height: 2.25rem;
  width: 2.25rem;
  margin-right: 0.625rem;
  border-radius: 99px;
}
.static-tweet-header-avatar img {
  border-radius: 99px;
}
.static-tweet-header-author {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}
@media (any-hover: hover) {
  .static-tweet-header-author:hover {
    color: var(--tweet-link-color-hover);
  }
}
.static-tweet-header-name,
.static-tweet-header-username {
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
}
.static-tweet-header-name {
  font-weight: 700;
}
.static-tweet-header-username {
  color: var(--tweet-color-gray);
  font-size: 0.875rem;
}
.static-tweet-header-brand {
  margin-left: auto;
}
.static-tweet-header-icon-twitter {
  display: inline-block;
  height: 1.25em;
  vertical-align: text-bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.25em;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%231da1f2%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}
.static-tweet-header-rounded {
  border-radius: 50%;
}

.static-tweet-skeleton {
  display: block;
  width: 100%;
  border-radius: 5px;

  background-image: linear-gradient(
    270deg,
    var(--accents-1),
    var(--accents-2),
    var(--accents-2),
    var(--accents-1)
  );
  background-size: 400% 100%;
  animation: static-tweet-skeleton-loading 8s ease-in-out infinite;
}

@keyframes static-tweet-skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.static-tweet-skeleton-container {
  background: var(--tweet-bg-color);
  border: var(--tweet-border);
  border-radius: 5px;
}
.static-tweet-skeleton-content {
  padding: 1.25rem 1.25rem 0.625rem 1.25rem;
}
.static-tweet-skeleton-footer {
  height: 2.5rem;
  padding: 0.625rem 1.25rem;
  border-top: var(--tweet-border);
}

.bg-gradient {
  background: var(--c-gradient);
}

//Notion

.notion {
  line-height: 1.5;
  font-family: var(--font);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1em;
  color: var(--c-text-color);
  caret-color: var(--c-text-color);
}

.notion > * {
  padding: 3px 0;
  position: relative;
}

.notion * {
  margin-block-start: 0;
  margin-block-end: 0;
}

.notion *,
.notion *:focus {
  outline: 0;
}

.notion-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (--d) and (--m) {
  .notion-page-content-has-aside {
    display: flex;
    flex-direction: row;
    width: calc((100vw + var(--notion-max-width)) / 2);
  }

  .notion-page-content-has-aside .notion-aside {
    display: flex;
  }

  .notion-page-content-has-aside .notion-page-content-inner {
    width: var(--notion-max-width);
    max-width: var(--notion-max-width);
  }
}

.notion-page-content-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notion-cursor-listener {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex: 1 1 0;
  background: #fff;
}

.notion-aside {
  position: sticky;
  top: 148px;
  /* top: calc((100vh - 48px - 100%) / 2); */

  align-self: flex-start;
  flex: 1;

  display: none;
  flex-direction: column;
  align-items: center;
}

.notion-aside-table-of-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 148px - 16px);
  min-width: 222px;
  overflow: auto;
}

.notion-aside-table-of-contents-header {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1em;
  word-break: break-word;
}

.notion-aside-table-of-contents .notion-table-of-contents-item {
  line-height: 1;
}

.notion-aside-table-of-contents,
.notion-table-of-contents-item-indent-level-0:first-of-type {
  margin-top: 0;
}

.notion-aside-table-of-contents,
.notion-table-of-contents-item-indent-level-0 {
  margin-top: 0.25em;
}

.notion-aside-table-of-contents,
.notion-table-of-contents-item-indent-level-1 {
  font-size: 13px;
}

.notion-aside-table-of-contents .notion-table-of-contents-item-indent-level-2 {
  font-size: 12px;
}

.notion-aside-table-of-contents,
.notion-table-of-contents-item-body {
  border: 0 none;
}

.notion-table-of-contents-active-item {
  color: var(--select-color-0) !important;
}

.notion-app {
  position: relative;
  background: var(--bg-color);
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  background: var(--c-primary);
}

.notion-viewport {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.medium-zoom-overlay {
  z-index: 4;
  background: var(--c-primary-40);
  backdrop-filter: blur(10px);
}

.medium-zoom-image {
  border-radius: 0;
}

.medium-zoom-image--opened {
  z-index: 4;
}
.medium-zoom-image--opened:active {
  .notion-viewport {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
}
.notion-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.notion-scroller {
  display: flex;
  flex-direction: column;
  z-index: 1;
  flex-grow: 1;
  position: relative;
  align-items: center;
  overflow: auto;
  margin-right: 0;
  margin-bottom: 0;
}
.notion-page-scroller {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  min-height: calc(100vh - var(--notion-header-height));
  flex-shrink: 1;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.notion-red,
.notion-red_co {
  color: var(--notion-red);
}
.notion-pink,
.notion-pink_co {
  color: var(--notion-pink);
}
.notion-blue,
.notion-blue_co {
  color: var(--notion-blue);
}
.notion-purple,
.notion-purple_co {
  color: var(--notion-purple);
}
.notion-teal,
.notion-teal_co {
  color: var(--notion-teal);
}
.notion-yellow,
.notion-yellow_co {
  color: var(--notion-yellow);
}
.notion-orange,
.notion-orange_co {
  color: var(--notion-orange);
}
.notion-brown,
.notion-brown_co {
  color: var(--notion-brown);
}
.notion-gray,
.notion-gray_co {
  color: var(--notion-gray);
}
.notion-red_background {
  background-color: var(--notion-red_background);
}
.notion-pink_background {
  background-color: var(--notion-pink_background);
}
.notion-blue_background {
  background-color: var(--notion-blue_background);
}
.notion-purple_background {
  background-color: var(--notion-purple_background);
}
.notion-teal_background {
  background-color: var(--notion-teal_background);
}
.notion-yellow_background {
  background-color: var(--notion-yellow_background);
}
.notion-orange_background {
  background-color: var(--notion-orange_background);
}
.notion-brown_background {
  background-color: var(--notion-brown_background);
}
.notion-gray_background {
  background-color: var(--notion-gray_background);
}
.notion-red_background_co {
  background-color: var(--notion-red_background_co);
}
.notion-pink_background_co {
  background-color: var(--notion-pink_background_co);
}
.notion-blue_background_co {
  background-color: var(--notion-blue_background_co);
}
.notion-purple_background_co {
  background-color: var(--notion-purple_background_co);
}
.notion-teal_background_co {
  background-color: var(--notion-teal_background_co);
}
.notion-yellow_background_co {
  background-color: var(--notion-yellow_background_co);
}
.notion-orange_background_co {
  background-color: var(--notion-orange_background_co);
}
.notion-brown_background_co {
  background-color: var(--notion-brown_background_co);
}
.notion-gray_background_co {
  background-color: var(--notion-gray_background_co);
}

.notion-item-blue {
  background-color: var(--notion-item-blue);
}
.notion-item-orange {
  background-color: var(--notion-item-orange);
}
.notion-item-green {
  background-color: var(--notion-item-green);
}
.notion-item-pink {
  background-color: var(--notion-item-pink);
}
.notion-item-brown {
  background-color: var(--notion-item-brown);
}
.notion-item-red {
  background-color: var(--notion-item-red);
}
.notion-item-yellow {
  background-color: var(--notion-item-yellow);
}
.notion-item-default {
  background-color: var(--notion-item-default);
}
.notion-item-purple {
  background-color: var(--notion-item-purple);
}
.notion-item-gray {
  background-color: var(--notion-item-gray);
}

.notion-page-offset {
  margin-top: 96px;
}
span.notion-page-icon-cover {
  height: 78px;
  width: 78px;
  font-size: 78px;
  display: inline-block;
  line-height: 1.1;
  margin-left: 0;
}

span.notion-page-icon-offset {
  margin-top: -42px;
}

img.notion-page-icon-cover {
  border-radius: 3px;
  width: 124px;
  height: 124px;
  margin: 8px;
}

img.notion-page-icon-offset {
  margin-top: -80px;
}

.notion b {
  font-weight: 600;
}

.notion-title {
  width: 100%;
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  line-height: 1.2;
}

.notion-h {
  position: relative;
  display: inline-block;
  font-weight: 600;
  line-height: 1.3;
  padding: 3px 2px;
  margin-bottom: 1px;
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}

.notion-h1 {
  font-size: 1.875em;
}

.notion-header-anchor {
  position: absolute;
  top: -54px;
  left: 0;
}

.notion-title + .notion-h1,
.notion-title + .notion-h2,
.notion-title + .notion-h3 {
  margin-top: 0;
}
.notion-h1:first-child {
  margin-top: 0;
}
/* .notion-h1:first-of-type {
  margin-top: 2px;
} */
.notion-h2 {
  font-size: 1.5em;
  margin-top: 1.1em;
}
.notion-h3 {
  font-size: 1.25em;
  margin-top: 1em;
}

.notion-h:hover .notion-hash-link {
  opacity: 1;
}

.notion-hash-link {
  display: none;
  @media (--t) {
    display: block;
    opacity: 0;
    text-decoration: none;
    float: left;
    margin-left: -20px;
    padding-top: 8px;
    padding-right: 4px;
    fill: var(--fg-color-icon);
    transition: var(--fade-2);
  }
}

.notion-page-cover {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 30vh;
  min-height: 30vh;
  max-height: 30vh;
  padding: 0;
}

.notion-page {
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
}

.notion-full-page {
  padding-bottom: calc(max(10vh, 120px));
}

.notion-page-no-cover {
  margin-top: 48px !important;
  padding-top: 96px;
}

.notion-page-no-cover.notion-page-no-icon {
  padding-top: 0;
}

.notion-page-no-cover.notion-page-has-image-icon {
  padding-top: 148px;
}

.notion-page-has-cover.notion-page-no-icon {
  padding-top: 48px;
}

.notion-page-has-cover {
  padding-top: 112px;
}

.notion-page-has-cover.notion-page-has-text-icon {
  padding-top: 64px;
}

.notion-page-icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notion-page-icon-wrapper .notion-page-icon {
  position: relative;
  display: block;
}

.notion-page-has-cover .notion-page-icon-wrapper img.notion-page-icon {
  top: -62px;
}

.notion-page-has-cover .notion-page-icon-wrapper span.notion-page-icon {
  top: -42px;
}

.notion-page-icon-wrapper span.notion-page-icon {
  height: 78px;
  width: 78px;
  max-width: 78px;
  max-height: 78px;
  font-size: 78px;
  line-height: 1.1;
  margin-left: 0;
  color: var(--fg-color-icon);
}

.notion-page-icon-wrapper img.notion-page-icon {
  display: block;
  border-radius: 3px;
  width: 124px;
  height: 124px;
  max-width: 124px;
  max-height: 124px;
}

.notion-page {
  width: var(--notion-max-width);
  padding-left: calc(min(12px, 4vw));
  padding-right: calc(min(12px, 4vw));
}

.notion-full-width {
  --notion-max-width: calc(min(1920px, 98vw));
  padding-left: calc(min(96px, 4vw));
  padding-right: calc(min(96px, 4vw));
}
.notion-hr {
  display: flex;
  vertical-align: center;
  height: 30px;
  width: 100%;
  border-top: 1px solid var(--c-border);
}
.notion-small-text {
  font-size: 14px;
}
.notion-quote {
  white-space: pre-wrap;
  word-break: break-word;
  border-left: 3px solid currentcolor;
  font-size: 1.2em;
  display: block;
  width: 100%;
  border-left: 3px solid currentcolor;
  padding: 0.2em 0.9em;
  margin: 6px 0;
  font-family: var(--font);
}

.notion-link {
  color: inherit;
  word-break: break-word;
  text-decoration: underline;
  text-decoration-color: inherit;
  text-decoration: inherit;
  border-bottom: 0.05em solid;
  border-color: var(--fg-color-2);
  opacity: 0.7;
  transition: border-color 100ms ease-in, opacity 100ms ease-in;
}

.notion-link:hover {
  border-color: var(--fg-color-6);
  opacity: 1;
}

.notion-collection .notion-link {
  opacity: 1;
}

.notion-blank {
  min-height: 1rem;
  padding: 3px 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 100%;
}

.notion-page-link {
  display: flex;
  color: var(--c-text-color);
  text-decoration: none;
  width: 100%;
  height: 30px;
  margin: 1px 0;
  transition: background 120ms ease-in 0s;
}

.notion-page-link:hover {
  background: var(--c-yellow-10);
}

.notion-page-icon {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', NotoColorEmoji,
    'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji', EmojiSymbols, serif;
  font-size: 1.1em;
  margin: 2px 4px 0 2px;
  fill: var(--fg-color-6);
  color: var(--fg-color-icon);
}

img.notion-page-icon,
svg.notion-page-icon {
  display: block;
  object-fit: fill;
  border-radius: 3px;
  max-width: 22px;
  max-height: 22px;
}

.notion-icon {
  display: block;
  width: 18px;
  height: 18px;
  color: var(--fg-color-icon);
}

.notion-page-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  line-height: 1.3;
  border-bottom: 1px solid var(--fg-color-1);
  margin: 4px 0;
}

.notion-inline-code {
  color: #eb5757;
  padding: 0.2em 0.4em;
  background: var(--bg-color-2);
  border-radius: 3px;
  font-size: 85%;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}

.notion-inline-underscore {
  text-decoration: underline;
}

.notion-list {
  margin: 0;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

.notion-list-disc {
  list-style-type: disc;
  padding-inline-start: 1.7em;
  margin-top: 0;
  margin-bottom: 0;
}
.notion-list-numbered {
  list-style-type: decimal;
  padding-inline-start: 1.6em;
  margin-top: 0;
  margin-bottom: 0;
}

.notion-list-disc li {
  padding-left: 0.1em;
}

.notion-list-numbered li {
  padding-left: 0.2em;
}

.notion-list li {
  padding: 6px 0;
  white-space: pre-wrap;
}

.notion-asset-wrapper {
  margin: 0.5rem 0;
  max-width: 100vw;
  min-width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.notion-asset-wrapper-image {
  max-width: 100%;
}

.notion-asset-wrapper-full {
  max-width: 100vw;
}

.notion-asset-wrapper img {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.notion-asset-wrapper iframe {
  border: none;
}

.notion-block {
  padding: 3px 2px;
}

.notion-text {
  word-break: break-word;
  line-height: 28px;
  font-weight: 400;
  font-family: var(--font);
  font-size: 1em;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  white-space: pre-wrap;
  caret-color: var(--c-text-color);
  padding: 3px 2px;
  width: 100%;
  margin: 4px 0;
}

.notion-text {
  scrollbar-width: thin;
  scrollbar-color: var(--c-yellow) var(--c-yellow-10);
}

.notion-text-children {
  padding-left: 1.5em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.notion .notion-code {
  font-size: 85%;
}

.notion-code {
  width: 100%;
  padding: 30px 16px 30px 20px;
  margin: 4px 0;
  border-radius: 3px;
  tab-size: 2;
  display: block;
  box-sizing: border-box;
  overflow: auto;
  background: var(--bg-color-1);
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}

.notion-column {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 12px;
}

.notion-column > *:first-child {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.notion-column > *:last-child {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.notion-row {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.notion-bookmark {
  margin: 4px 0;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid var(--c-border);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  user-select: none;
  &:hover {
    background: var(--c-text-color);
    border: 1px solid var(--c-text-color);
    & > div:first-child {
      color: var(--c-primary);
    }
    .notion-bookmark-link > div {
      color: var(--c-primary);
    }
  }
  transition: var(--fade);
}

.notion-bookmark > div:first-child {
  flex: 4 1 180px;
  padding: 12px 14px 14px;
  overflow: hidden;
  text-align: left;
  color: var(--c-text-color);
  &:hover {
  }
}

.notion-bookmark-title {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 24px;
  margin-bottom: 2px;
}

.notion-bookmark-description {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.6;
  height: 32px;
  overflow: hidden;
}

.notion-bookmark-link {
  display: flex;
  margin-top: 6px;
}

.notion-bookmark-link > img {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-right: 6px;
}

.notion-bookmark-link > div {
  font-size: 12px;
  line-height: 16px;
  color: var(--c-yellow);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notion-bookmark-image {
  flex: 1 1 180px;
  position: relative;
}

.notion-bookmark-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
@media (max-width: 640px) {
  .notion-bookmark-image {
    display: none;
  }

  .notion-row {
    flex-direction: column;
  }

  .notion-row > *,
  .notion-column > * {
    width: 100% !important;
  }
}

.notion-column .notion-bookmark-image {
  display: none;
}

.notion-spacer {
  width: calc(min(32px, 4vw));
}

.notion-spacer:last-child {
  display: none;
}

.notion-asset-object-fit {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px;
}

.notion-image {
  display: block;
  width: 100%;
  border-radius: 1px;
}
.notion-image-inset {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
.notion-image-caption {
  padding: 6px 0;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  font-size: 14px;
  line-height: 1.4;
  color: var(--c-text-color);
}

.notion-asset-caption {
  padding: 6px 0 6px 2px;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: var(--fg-color);
  font-size: 14px;
  line-height: 1.4;
  color: var(--fg-color-3);
  text-align: center;
}

.notion-callout {
  padding: 16px 16px 16px 12px;
  display: inline-flex;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  align-items: center;
  box-sizing: border-box;
  margin: 4px 0;
}

.dark-mode .notion-callout {
  border-color: var(--bg-color-2);
}

.notion-callout .notion-page-icon {
  align-self: flex-start;
  width: 24px;
  height: 24px;
  font-size: 1.3em;
  line-height: 1em;
}

.notion-callout-text {
  margin-left: 8px;
  white-space: pre-wrap;
  word-break: break-word;
}

.notion-toggle {
  padding: 3px 2px;
}
.notion-toggle > summary {
  cursor: pointer;
  outline: none;
}
.notion-toggle > div {
  margin-left: 1.1em;
}

.notion-collection {
  display: grid;
  min-width: 200px;
  float: left;
}

.notion-collection-header {
  align-items: center;
  height: 42px;
  padding: 4px 2px;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.notion-collection-header-title {
  display: inline-flex;
  align-items: center;
  font-size: 1.25em;
  line-height: 1.2;
  font-weight: 600;
  white-space: pre-wrap;
  word-break: break-word;
  margin-right: 0.5em;
}

.notion-collection-view-dropdown {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 3px;
  transition: background 120ms ease-in 0s;
}

.notion-collection-view-dropdown:hover {
  background: var(--bg-color-0);
}

.notion-collection-view-dropdown-icon {
  position: relative;
  top: 2px;
  margin-left: 4px;
}

.notion-collection-view-type-menu-item {
  cursor: pointer;
}

.notion-collection-view-type-menu-item .notion-collection-view-type {
  width: 340px;
  max-width: 100%;
  min-width: 100px;
}

.notion-collection-view-type {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.notion-collection-view-type-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.notion-collection-view-type-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--fg-color);
}

.notion-table::-webkit-scrollbar {
  width: 8px;
  height: 8px;

}
.notion-table {
  scrollbar-width: 2px;
  scrollbar-color: var(--c-yellow) var(--c-yellow-10);
}
.notion-table::-webkit-scrollbar-track {
  background: var(--c-yellow-10);

}
.notion-table::-webkit-scrollbar-thumb {
  background-color: var(--c-yellow-80);
  border-radius: 9px;
  border: 3px solid var(--c-yellow-10);
}

.notion-table {
  display: block;
  overflow: auto hidden;
  width: 100% !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 0 10px 10px 10px ;
}

.notion-table-view {
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
  transition: padding 200ms ease-out;
}

.notion-table-header {
  display: flex;
  position: absolute;
  height: 33px;
  color: var(--fg-color-3);
}

.notion-table-header-inner {
  position: relative;
  display: inline-flex;
  border-top: 1px solid var(--fg-color-1);
  border-bottom: 1px solid var(--fg-color-1);
  border-radius: 8px 8px 0 0;
}

.notion-table-header-placeholder {
  height: 34px;
}

.notion-table-th {
  display: flex;
  position: relative;
}

.notion-table-view-header-cell {
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  height: 32px;
  font-size: 14px;
  padding: 0;
}

.notion-table-view-header-cell-inner {
  user-select: none;
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  border-right: 1px solid var(--fg-color-0);

}

.notion-table-th:last-child .notion-table-view-header-cell-inner {
      border-top-right-radius: 8px;
}

.notion-table-th:first-child .notion-table-view-header-cell-inner {
  border-left: 1px solid var(--fg-color-1);
        border-top-left-radius: 8px;


}

.notion-collection-column-title {
  display: flex;
  align-items: center;
  line-height: 120%;
  min-width: 0;
  font-size: 14px;
}

.notion-collection-column-title-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
  fill: var(--fg-color-2);
  margin-right: 6px;
}

.notion-collection-column-title-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notion-table-body {
  position: relative;
  min-width: 200px;
}

.notion-table-row {
  display: inline-flex;
  border-bottom: 1px solid var(--fg-color-1);

}
.notion-table-row:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

}

.notion-table-cell {
  display: grid;
  align-items: center;
  min-height: 32px;
  padding: 5px 8px 6px;
  font-size: 14px;
  line-height: 1;
  white-space: normal;
  overflow: hidden;
  word-break: break-word;
  border-right: 1px solid var(--fg-color-1);

}
.notion-table-body:last-child > .notion-table-row:last-child  > div:last-child{
    border-bottom-right-radius: 8px;
}
.notion-table-body:last-child > .notion-table-row:last-child  > div:first-child{
    border-bottom-left-radius: 8px;
}

.notion-table-cell:first-child {
  border-left: 1px solid var(--fg-color-1);
}

.notion-table-cell-title {
  font-weight: 500;
}

.notion-table-cell-text {
  white-space: pre-wrap;
}

.notion-table-cell-text,
.notion-table-cell-number,
.notion-table-cell-url,
.notion-table-cell-email,
.notion-table-cell-phone_number {
  line-height: 1.5;
}

.notion-table-cell-number {
  white-space: pre-wrap;
}

.notion-table-cell-select,
.notion-table-cell-multi_select {
  padding: 7px 8px 0;
}

.notion-property-select,
.notion-property-multi_select {
  display: flex;
  flex-wrap: wrap;
}

.notion-property-select-item,
.notion-property-multi_select-item {
  display: flex;
  align-items: center;
  padding: 0 6px;
  border-radius: 3px;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 120%;
}

.notion-property-multi_select-item {
  margin: 0 6px 6px 0;
}

.notion-collection-card .notion-property-multi_select-item {
  margin: 0 6px 0 0;
}

.notion-property-file {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.notion-property-file img {
  max-height: 24px;
  max-width: 100%;
  margin-right: 6px;
}

.notion-collection-card-cover .notion-property-file {
  height: 100%;
}

.notion-collection-card-cover .notion-property-file img {
  width: 100%;
  margin: 0;
  max-height: 100%;
}

.notion-property-checkbox {
  width: 16px;
  height: 16px;
}

.notion-property-checkbox-checked {
  width: 16px;
  height: 16px;
  background: var(--select-color-0);
}

.notion-property-checkbox-checked svg {
  position: relative;
  display: block;
  /* top: -3px; */
  top: 1px;
  left: 1px;
  width: 14px;
  height: 14px;
  fill: #fff;
}

.notion-property-checkbox-unchecked {
  width: 16px;
  height: 16px;
  border: 1px solid var(--fg-color);
}

.notion-gallery {
  align-self: center;
}

.notion-gallery-view {
  position: relative;
  padding-left: 0;
  transition: padding 200ms ease-out;
}

.notion-gallery-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: 1fr;
  gap: 16px;
  border-top: 1px solid var(--fg-color-1);
  padding-top: 16px;
  padding-bottom: 4px;
}

.notion-gallery-grid-size-small {
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.notion-gallery-grid-size-large {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.notion-collection-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  text-decoration: none;
  box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px, rgba(15, 15, 15, 0.1) 0 2px 4px;
  border-radius: 3px;
  background: var(--bg-color);
  color: var(--fg-color);
  transition: background 100ms ease-out 0s;

  user-select: none;
  cursor: pointer;
}

.notion-collection-card:hover {
  background: var(--bg-color-0);
}

.notion-collection-card-cover {
  position: relative;
  width: 100%;
  height: 190px;
  border-bottom: 1px solid var(--fg-color-0);
  overflow: hidden;
}

.notion-collection-card-cover img {
  width: 100%;
  height: 100%;
  border-radius: 1px 1px 0 0;
  /* object-fit: cover; */
}

.notion-collection-card-cover .notion-collection-card-cover-empty {
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  background: var(--fg-color-5);
  box-shadow: var(--fg-color-0) 0 -1px 0 0 inset;
  padding: 8px 8px 0;
}

.notion-collection-card-size-small .notion-collection-card-cover {
  height: 124px;
}

.notion-collection-card-body {
  display: flex;
  flex-direction: column;
  padding: 4px 10px;
}

.notion-collection-card-property {
  padding: 4px 0;
  white-space: nowrap;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.notion-collection-card-property:first-child {
  font-size: 14px;
  font-weight: 500;
}

.notion-collection-card-property:not(:first-child) {
  white-space: nowrap;
  text-overflow: clip;
}

.notion-collection-card-property img {
  max-height: 18px;
}

.notion-list-collection {
  align-self: center;
}

.notion-list-collection {
  width: 100%;
  max-width: 100%;
}

.notion-list-view {
  position: relative;
  padding-left: 0;
  transition: padding 200ms ease-out;
  max-width: 100%;
}

.notion-list-body {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--fg-color-1);
  padding-top: 8px;
  max-width: 100%;
  overflow: hidden;
}

.notion-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  margin: 1px 0;
  max-width: 100%;
  overflow: hidden;
}

.notion-list-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  line-height: 1.3;
}

.notion-list-item-body {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

.notion-list-item-property {
  /* display: flex;
  align-items: center; */
  margin-left: 14px;
  font-size: 14px;
}

.notion-list-item-property .notion-property-date,
.notion-list-item-property .notion-property-created_time,
.notion-list-item-property .notion-property-last_edited_time,
.notion-list-item-property .notion-property-url {
  display: inline-block;
  color: var(--fg-color-3);
  font-size: 12px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.notion-board {
  width: 100vw;
  max-width: 100vw;
  align-self: center;
  overflow: auto hidden;
}

.notion-board-view {
  position: relative;
  float: left;
  min-width: 100%;
  padding-left: 0;
  transition: padding 200ms ease-out;
}

.notion-board-header {
  display: flex;
  position: absolute;
  z-index: 2;
  height: 44px;
  min-width: 100%;
}

.notion-board-header-inner {
  display: inline-flex;
  border-top: 1px solid var(--fg-color-1);
  border-bottom: 1px solid var(--fg-color-1);
}

.notion-board-header-placeholder {
  height: var(--notion-header-height);
}

.notion-board-th {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-right: 16px;
  box-sizing: content-box;
  flex-shrink: 0;
}

.notion-board-th-body {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.2;
  padding-left: 2px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
}

.notion-board-th-count {
  color: var(--fg-color-3);
  font-weight: 500;
  padding: 0 8px;
}

.notion-board-th-empty {
  margin-right: 4px;
  position: relative;
  top: 2px;
}

.notion-board-body {
  display: inline-flex;
}

.notion-board-group {
  flex: 0 0 auto;
  padding-right: 16px;
  box-sizing: content-box;
}

.notion-board-group-card {
  margin-bottom: 8px;
}

.notion-board-view .notion-board-th,
.notion-board-view .notion-board-group {
  width: 260px;
}

.notion-board-view-size-small .notion-board-th,
.notion-board-view-size-small .notion-board-group {
  width: 180px;
}

.notion-board-view-size-large .notion-board-th,
.notion-board-view-size-large .notion-board-group {
  width: 320px;
}

.notion-board-view .notion-collection-card .notion-collection-card-cover {
  height: 148px;
}

.notion-board-view-size-small,
.notion-collection-card,
.notion-collection-card-cover {
  height: 100px;
}

.notion-board-view-size-large,
.notion-collection-card,
.notion-collection-card-cover {
  height: 180px;
}

.notion-table-of-contents {
  width: 100%;
  margin: 4px 0;
}

.notion-table-of-contents-item {
  color: var(--c-text-color);
  text-decoration: none;
  user-select: none;
  transition: background ease-in var(--fade-2);
  cursor: pointer;
  width: 100%;

  padding: 6px 2px;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notion-table-of-contents-item:hover {
  background: var(--c-yellow-10);
}

.notion-table-of-contents-item-body {
  border-bottom: 1px solid var(--c-yellow-40);
}

.notion-to-do {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.notion-to-do-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 2px;
  min-height: calc(1.5em + 3px + 3px);
}

.notion-to-do-children {
  padding-left: 1.5em;
}

.notion-to-do-checked .notion-to-do-item {
  text-decoration: line-through;
  opacity: 0.375;
}

.notion-to-do-body {
  white-space: pre-wrap;
  word-break: break-word;
}

.notion-to-do-item .notion-property-checkbox {
  margin-right: 8px;
}

.notion-google-drive {
  width: 100%;
  align-self: center;
  margin: 4px 0;
}

.notion-google-drive-link {
  position: relative;
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  width: 100%;
  border: 1px solid var(--fg-color-1);
  border-radius: 3px;

  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
}

.notion-google-drive-link:hover {
  background: var(--bg-color-0);
}

.notion-google-drive-preview {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 55%;
  overflow: hidden;
}

.notion-google-drive-preview img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: center top;
}

.notion-google-drive-body {
  width: 100%;
  min-height: 60px;
  padding: 12px 14px 14px;
  overflow: hidden;
  border-top: 1px solid var(--fg-color-1);
}

.notion-google-drive-body-title {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

.notion-google-drive-body-modified-time {
  font-size: 12px;
  line-height: 1.3;
  color: var(--fg-color-3);
  max-height: 32px;
  overflow: hidden;
}

.notion-google-drive-body-source {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.notion-google-drive-body-source-icon {
  flex-shrink: 0;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.notion-google-drive-body-source-domain {
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notion-file {
  width: 100%;
  margin: 1px 0;
}

.notion-file-link {
  display: flex;
  align-items: center;
  padding: 3px 2px;
  border-radius: 3px;
  transition: background 20ms ease-in 0s;
  color: inherit;
  text-decoration: none;
}

.notion-file-link:hover {
  background: var(--bg-color-0);
}

.notion-file-icon {
  margin-right: 2px;
  width: 1.35em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: calc(1.5em + 3px + 3px);
  height: 1.35em;
}

.notion-file-info {
  display: flex;
  align-items: baseline;
}

.notion-file-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notion-file-size {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--fg-color-3);
  font-size: 12px;
  line-height: 16px;
  margin-left: 6px;
}

.notion-audio {
  width: 100%;
}

.notion-audio audio {
  width: 100%;
}

.notion-equation {
  position: relative;
  display: inline-flex;
  color: inherit;
  border-radius: 3px;
  transition: background 20ms ease-in 0s;
}

.notion-equation-inline {
  -webkit-user-select: all;
  -moz-user-select: all;
  user-select: all;
}

.notion-equation-block {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  max-width: 100%;
  padding: 4px 8px;
  margin: 4px 0;
}

.notion-equation:hover {
  background: var(--c-yellow-10);
}

.notion-equation:active,
.notion-equation:focus {
  color: var(--c-primary);
  background: var(--c-yellow-60);
}

.notion-frame .katex-display .katex {
  padding-right: 32px;
}

.notion-frame .katex > .katex-html {
  white-space: normal;
}
.katex {
  font: 1.21em / 1.2 KaTeX_Main, 'Times New Roman', serif;
  text-indent: 0;
  text-rendering: auto;
  .katex-html {
    display: none;
  }
}

.notion-page-title {
  display: inline-flex;
  max-width: 100%;
  align-items: center;
  line-height: 1.3;
  transition: background 120ms ease-in 0s;
}

.notion-page-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 22px;
  border-radius: 3px;
  flex-shrink: 0;
  margin-left: 2px;
  margin-right: 6px;
}

.notion-collection-card-property .notion-link {
  border-bottom: 0 none;
}

.notion-collection-card-property .notion-page-title {
  transition: none;
}

.notion-collection-card-property .notion-page-title:hover {
  background: unset;
}

.notion-collection-card-property .notion-page-title-icon {
  margin-left: 0;
  height: 18px;
  width: 18px;
}

.notion-collection-card-property .notion-page-title-text {
  border-bottom: 0 none;
}

.notion-collection-card-property,
.notion-property-relation{
  border-bottom: 1px solid;
}

.notion-page-title-text {
  position: relative;
  top: 1px;
  border-bottom: 1px solid var(--fg-color-1);
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.notion-collection-row {
  width: 100%;
  padding: 4px 0 8px;
  border-bottom: 1px solid var(--fg-color-0);
  margin-bottom: 1em;
}

.notion-collection-row-body {
  display: flex;
  flex-direction: column;
}

.notion-collection-row-property {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.notion-collection-row-value {
  flex: 1;
  padding: 6px 8px 7px;
  font-size: 14px;
}

.notion-collection-row-property .notion-collection-column-title {
  display: flex;
  align-items: center;
  width: 160px;
  height: 34px;
  color: var(--fg-color-3);
  padding: 0 6px;
}

.notion-collection-row-property .notion-property {
  width: 100%;
}

.notion-collection-row-property .notion-collection-column-title-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}

.notion-collection-row-property .notion-link {
  border-bottom: 0 none;
}

.notion-collection-row-property,
.notion-property-relation {
  border-bottom: 1px solid;
}

.notion-user {
  display: block;
  object-fit: cover;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.notion-list-item-property .notion-property-multi_select-item {
  margin-bottom: 0;
}

.notion-list-item-property .notion-property-multi_select-item:last-of-type {
  margin-right: 0;
}

@media only screen and (--t) {
  .notion-page {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .notion-asset-wrapper {
    max-width: 100%;
  }

  .notion-asset-wrapper-full {
    max-width: 100vw;
  }
}

.lazy-image-wrapper {
  position: relative;
  overflow: hidden;
}

.lazy-image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.lazy-image-preview {
  filter: blur(20px);
  transform: scale(1.1);

  opacity: 1;
  transition: opacity 400ms ease-in !important;
  transition-delay: 100ms;
  will-change: opacity;
}

.lazy-image-wrapper img.lazy-image-real {
  position: relative;
}

.lazy-image-real {
  opacity: 0;
  transition: opacity 400ms ease-out !important;
  will-change: opacity;
}

.lazy-image-real.medium-zoom-image {
  transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1),
    opacity 400ms ease-out !important;
  will-change: opacity, transform;
}

.medium-zoom-image--opened {
  object-fit: cover;
  opacity: 1;
}

/* NOTE: if we hide the preview image, there's a weird bug with react hydration where
   the image will sometimes flicker to show the background during initial page load.
   So I'm removing this `opacity: 0` for now, but it will cause issues if the real
   image is transparent. */
.lazy-image-loaded .lazy-image-preview {
  opacity: 0;
}

.lazy-image-loaded .lazy-image-real {
  opacity: 1;
}

.notion-page-cover.lazy-image-wrapper {
  padding: 0 !important;
}

.notion-collection-card-cover .lazy-image-wrapper {
  padding: 0 !important;
  height: 100%;
}

.notion-page-cover .lazy-image-preview,
.notion-page-cover .lazy-image-real {
  will-change: unset !important;
}

.notion-page-cover .lazy-image-loaded .lazy-image-preview {
  opacity: 1;
}

.notion-lite {
  overflow-y: auto;
}

.notion-lite .notion-page {
  width: 100%;
  padding: 0;
  /* padding: calc(max(2vmin, 8px)); */
}

.notion-lite .notion-collection-header,
.notion-lite .notion-table-view,
.notion-lite .notion-board-view {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.notion-lite .notion-board,
.notion-lite .notion-table {
  width: 100% !important;
}

.notion-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  height: var(--notion-header-height);
  min-height: var(--notion-header-height);

  background: var(--bg-color);
}

.notion-header .nav-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  text-size-adjust: 100%;
  line-height: 1.5;
  font-size: 14px;
}

.notion-header .breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex-grow: 0;
  min-width: 0;
  margin-right: 8px;
}

.notion-header .breadcrumb {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--fg-color);
  text-decoration: none;
  margin: 1px 0;
  padding: 4px 6px;
  border-radius: 3px;
  transition: background 120ms ease-in 0s;
  user-select: none;
  background: transparent;
  cursor: pointer;
}

.notion-header .breadcrumb .icon {
  position: relative;
  top: -1px;
}

.notion-header img.icon {
  width: 18px !important;
  height: 18px !important;
}

.notion-header .icon {
  font-size: 18px;
  margin-right: 6px;
  line-height: 1.1;
}

.notion-header .searchIcon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  color: var(--fg-color);
  fill: var(--fg-color);
}

.notion-header .breadcrumb:not(.active):hover {
  background: var(--bg-color-0);
}

.notion-header .breadcrumb:not(.active):active {
  background: var(--bg-color-1);
}

.notion-header .breadcrumb.active {
  cursor: default;
}

.notion-header .spacer {
  margin: 0 2px;
  color: var(--fg-color-2);
}

.notion-header .button {
  height: 28px;
  padding: 0 8px;
}

.notion-search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(15, 15, 15, 0.6);

  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}

.notion-search {
  box-shadow: rgba(15, 15, 15, 0.05) 0 0 0 1px, rgba(15, 15, 15, 0.1) 0 5px 10px,
    rgba(15, 15, 15, 0.2) 0 15px 40px;
  border-radius: 3px;
  background: #fff;

  position: relative;
  top: 90px;
  max-width: 600px;
  min-height: 50px;
  max-height: 80vh;
  width: 75%;
  overflow: hidden;
  outline: none;

  font-size: 16px;
  line-height: 1.5;
  color: rgb(55, 53, 47);
  caret-color: rgb(55, 53, 47);
  font-family: var(--font);
}

.notion-search .quickFindMenu {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: calc(100vw - 24px);
  height: 100%;
  max-height: 80vh;
  min-height: 50px;
}

.notion-search .searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;
  box-shadow: rgba(55, 53, 47, 0.09) 0 1px 0;
  font-size: 18px;
  line-height: 27px;
  padding: 0 16px;
}

.notion-search .searchInput {
  resize: none;
  white-space: nowrap;
  border: none;
  outline: none;
  flex: 1;

  line-height: inherit;
  font-size: inherit;
}

.notion-search .inlineIcon {
  margin-right: 10px;
  fill: rgba(55, 53, 47, 0.4);
}

.notion-search .clearButton {
  user-select: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 8px;
}

.notion-search .clearIcon {
  width: 14px;
  height: 14px;
  fill: rgba(55, 53, 47, 0.3);
}

.notion-search .clearButton:hover .clearIcon {
  fill: rgba(55, 53, 47, 0.4);
}

.notion-search .clearButton:active .clearIcon {
  fill: rgba(55, 53, 47, 0.8);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.notion-search .loadingIcon {
  animation: spinner 0.6s linear infinite;
}

.notion-search .noResultsPane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
}

.notion-search .noResults {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(55, 53, 47, 0.6);
}

.notion-search .noResultsDetail {
  font-size: 14px;
  margin-top: 2px;
  color: rgba(55, 53, 47, 0.4);
}

.notion-search .resultsFooter {
  box-shadow: rgba(55, 53, 47, 0.09) 0 -1px 0;
  margin-top: 1px;
  font-size: 12px;
  min-height: 28px;
  color: rgba(55, 53, 47, 0.4);
  user-select: none;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notion-search .resultsCount {
  font-weight: 500;
  color: rgba(55, 53, 47, 0.6);
}

.notion-search .resultsPane {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  overflow: auto;
}

.notion-search .result {
  padding: 8px 14px;
  border-bottom: 1px solid rgba(55, 53, 47, 0.06);
  min-height: 36px;
  font-size: 14px;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: rgb(55, 53, 47);
  text-decoration: none;
}

.notion-search .resultsPane .result:hover {
  background: rgba(55, 53, 47, 0.08) !important;
}

.notion-search .resultsPane .result:active {
  background: rgba(55, 53, 47, 0.16) !important;
}

.blend {
  mix-blend-mode: multiply;
}
