:root {
  --c-primary: rgba(255, 255, 255, 1);
  --c-primary-40: rgba(255, 255, 255, 0.4);
  --c-primary-80: rgba(255, 255, 255, 0.8);
  --c-border: rgb(230, 236, 240);
  --c-text-color: rgb(41, 41, 41);
  --c-green: rgb(0, 128, 127);
  --c-yellow: rgba(102, 126, 234, 1);
  --c-yellow-10: rgba(102, 126, 234, 0.1);
  --c-yellow-20: rgba(102, 126, 234, 0.2);
  --c-yellow-40: rgba(102, 126, 234, 0.4);
  --c-yellow-60: rgba(102, 126, 234, 0.6);
  --c-notion-gray: rgba(100, 100, 100, 0.2);
  --c-notion-brown: rgba(125, 100, 75, 0.2);
  --c-notion-orange: rgba(250, 121, 0, 0.2);
  --c-notion-yellow: rgba(255, 191, 0, 0.2);
  --c-notion-green: rgba(0, 237, 194, 0.2);
  --c-notion-blue: rgba(0, 170, 242, 0.2);
  --c-notion-purple: rgba(105, 0, 242, 0.2);
  --c-notion-pink: rgba(245, 0, 139, 0.2);
  --c-notion-red: rgba(250, 0, 0, 0.2);
  --c-social: #4f4f4f;
  --c-gray: #828282;
  --c-gray-50: rgba(130, 130, 130, 0.5);
  --c-gray-50-50: rgba(50, 50, 50, 0.5);
  --c-graypoor: #bdbdbd;
  --c-whitepoor: #e0e0e0;
  --c-white: #f2f2f2;
  --c-shadow-10: rgba(0, 0, 0, 0.1);
  --c-shadow-5: rgba(0, 0, 0, 0.05);
  --fade: 240ms;
  --fade-2: 120ms;
  --fade-3: 360ms;
}

.dim:root {
  --c-primary: rgb(21, 41, 39);
  --c-primary-40: rgba(21, 41, 39, 0.4);
  --c-primary-80: rgba(21, 41, 39, 0.8);
  --c-border: rgb(47, 51, 54);
  --c-text-color: rgba(229, 229, 229, 1);
  --c-yellow: rgb(76, 181, 172);
  --c-yellow-10: rgba(77, 182, 173, 0.1);
  --c-yellow-20: rgba(77, 182, 173, 0.2);
  --c-yellow-40: rgba(77, 182, 173, 0.4);
  --c-yellow-60: rgba(77, 182, 173, 0.6);
  --c-shadow-10: rgba(255, 255, 255, 0.1);
  --c-shadow-5: rgba(255, 255, 255, 0.05);
}

.dark:root {
  --c-primary: rgba(0, 0, 0, 1);
  --c-primary-40: rgba(0, 0, 0, 0.4);
  --c-primary-80: rgba(0, 0, 0, 0.8);
  --c-border: rgba(47, 51, 54, 1);
  --c-text-color: rgba(255, 255, 255, 1);
  --c-yellow: rgba(234, 210, 102, 1);
  --c-yellow-10: rgba(234, 210, 102, 0.1);
  --c-yellow-20: rgba(234, 210, 102, 0.2);
  --c-yellow-40: rgba(234, 210, 102, 0.4);
  --c-yellow-60: rgba(234, 210, 102, 0.6);
  --c-shadow-10: rgba(255, 255, 255, 0.1);
  --c-shadow-5: rgba(255, 255, 255, 0.05);
}

.sepia:root {
  --c-primary: rgba(245, 221, 159, 1);
  --c-primary-40: rgba(245, 221, 159, 0.4);
  --c-primary-80: rgba(245, 221, 159, 0.8);
  --c-border: rgba(108, 84, 62, 0.4);
  --c-text-color: rgb(108, 84, 62);
  --c-yellow: rgba(108, 84, 62, 1);
  --c-yellow-10: rgba(108, 84, 62, 0.1);
  --c-yellow-20: rgba(108, 84, 62, 0.2);
  --c-yellow-40: rgba(108, 84, 62, 0.4);
  --c-yellow-60: rgba(108, 84, 62, 0.6);
  --c-shadow-10: rgba(0, 0, 0, 0.1);
  --c-shadow-5: rgba(0, 0, 0, 0.05);
}
