:root {
  --c-primary: rgb(255, 255, 255);
  --c-primary-40: rgba(255, 255, 255, 0.4);
  --c-primary-80: rgba(255, 255, 255, 0.8);
  --c-border: rgb(230, 236, 240);
  --c-text-color: rgb(41, 41, 41);
  --c-green: rgb(0, 128, 127);
  --c-yellow: rgb(33, 68, 225);
  --c-yellow-light: rgb(115, 106, 185);
  --c-yellow-lighter: rgb(142, 131, 213);
  --c-yellow-10: rgba(33,68,225, 0.1);
  --c-yellow-20: rgba(33,68,225, 0.2);
  --c-yellow-40: rgba(33,68,225, 0.4);
  --c-yellow-60: rgba(33,68,225, 0.6);
  --c-yellow-80: rgba(33, 68, 225, 0.8);
  --c-gradient: linear-gradient(30deg, #23256a, #3e3b84, #59529e, #736ab9, #8e83d5, #aa9df2);
  --c-notion-gray: rgba(100, 100, 100, 0.2);
  --c-notion-brown: rgba(125, 100, 75, 0.2);
  --c-notion-orange: rgba(250, 121, 0, 0.2);
  --c-notion-yellow: rgba(255, 191, 0, 0.2);
  --c-notion-green: rgba(0, 237, 194, 0.2);
  --c-notion-blue: rgba(0, 170, 242, 0.2);
  --c-notion-purple: rgba(105, 0, 242, 0.2);
  --c-notion-pink: rgba(245, 0, 139, 0.2);
  --c-notion-red: rgba(250, 0, 0, 0.2);
  --c-social: #4f4f4f;
  --c-gray: #828282;
  --c-gray-50: rgba(130, 130, 130, 0.5);
  --c-gray-50-50: rgba(50, 50, 50, 0.5);
  --c-graypoor: #bdbdbd;
  --c-whitepoor: #e0e0e0;
  --c-white: #f2f2f2;
  --c-shadow-10: rgba(0, 0, 0, 0.1);
  --c-shadow-5: rgba(0, 0, 0, 0.05);
  --fade: 240ms;
  --fade-2: 120ms;
  --fade-3: 360ms;
}

.dim:root {
  --c-primary: rgb(21, 41, 39);
  --c-primary-40: rgba(21, 41, 39, 0.4);
  --c-primary-80: rgba(21, 41, 39, 0.8);
  --c-border: rgb(47, 51, 54);
  --c-text-color: rgba(229, 229, 229, 1);
  --c-yellow: rgb(0, 205, 203);
    --c-yellow-light: rgb(112, 175, 173);
    --c-yellow-lighter: rgb(166, 231, 229);
  --c-yellow-10: rgba(	0, 205, 203, 0.1);
  --c-yellow-20: rgba(	0, 205, 203, 0.2);
  --c-yellow-40: rgba(	0, 205, 203, 0.4);
  --c-yellow-60: rgba(	0, 205, 203, 0.6);
  --c-yellow-80: rgba(0, 205, 203, 0.8);
  --c-gradient:  linear-gradient(30deg, #1f6160, #3b7a79, #559493, #70afad, #8bcbc9, #a6e7e5);
  --c-shadow-10: rgba(255, 255, 255, 0.1);
  --c-shadow-5: rgba(255, 255, 255, 0.05);
}

.dark:root {
  --c-primary: rgba(0, 0, 0, 1);
  --c-primary-40: rgba(0, 0, 0, 0.4);
  --c-primary-80: rgba(0, 0, 0, 0.8);
  --c-border: rgba(47, 51, 54, 1);
  --c-text-color: rgba(255, 255, 255, 1);
  --c-yellow: rgb(225, 190, 33);
    --c-yellow-light: rgb(189, 167, 100);
    --c-yellow-lighter: rgb(247, 222, 152);
  --c-yellow-10: rgba(	225, 190, 33, 0.1);
  --c-yellow-20: rgba(	225, 190, 33, 0.2);
  --c-yellow-40: rgba(	225, 190, 33, 0.4);
  --c-yellow-60: rgba(	225, 190, 33, 0.6);
  --c-yellow-80: rgba(225, 190, 33, 0.8);
    --c-gradient: linear-gradient(30deg, #6b5a1b, #867333, #a18c4b, #bda764, #dac27e, #f7de98);
  --c-shadow-10: rgba(255, 255, 255, 0.1);
  --c-shadow-5: rgba(255, 255, 255, 0.05);
}

.sepia:root {
  --c-primary: rgb(250, 237, 205);
  --c-primary-40: rgba(	250, 237, 205, 0.4);
  --c-primary-80: rgba(	250, 237, 205, 0.8);
  --c-border: rgba(92, 71, 53, 0.4);
  --c-text-color: rgb(92, 71, 53);
  --c-yellow: rgba(92, 71, 53, 1);
    --c-yellow-light: rgb(119, 107, 97);
    --c-yellow-lighter: rgb(171, 158, 148);
  --c-yellow-10: rgba(92, 71, 53, 0.1);
  --c-yellow-20: rgba(92, 71, 53, 0.2);
  --c-yellow-40: rgba(92, 71, 53, 0.4);
  --c-yellow-60: rgba(92, 71, 53, 0.6);
  --c-yellow-80: rgba(92, 71, 53, 0.8);
    --c-gradient: linear-gradient(30deg, #30261e, #473c33, #5e534a, #776b61, #91847a, #ab9e94);
  --c-shadow-10: rgba(0, 0, 0, 0.1);
  --c-shadow-5: rgba(0, 0, 0, 0.05);
}
